@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Do Hyeon", sans-serif;
}

.full-height {
  height: 100vh;
}

.border_bottom {
  border-bottom: 1px #808080 solid;
}

.fixed {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

.pointer {
  cursor: pointer;
}
